<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<link rel="stylesheet" href="../../webapp/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../webapp/css/styles.css">
</head>
<body>
<header>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 class="text-center text-white">Weather</h1>
			</div>
			<div class="col-1"></div>
			<div class="col-2">
				<div class="itd_sing_up">
					<a th:href="@{/authentication/sign-in}"
					   class="btn btn-itd btn-primary text-uppercase">Sign in</a>
				</div>
			</div>
		</div>
	</div>
</header>
<main class="form-sign-up w-100 m-auto">
	<form th:action="@{/authentication/sign-up}" method="post">
		<h1 class="h3 mb-3 fw-normal">Please sign up</h1>

		<div class="form-floating">
			<input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
			<label for="email">Email address</label>
		</div>
		<div class="form-floating">
			<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
			<label for="password">Password</label>
		</div>
		<input type="hidden" name="isRegistration" value="true">
		<button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
	</form>
</main>


<script src="../../webapp/bootstrap.bundle.min.js"></script>
</body>
</html>